@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=number], select, textarea {
    width: 10%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

body {
    background: white;
    color: black;
}

.view_item img {
    height: 160px;
    width: 180px;
}

.wrapper {
    width: 1200px;
    margin: 20px auto;
}

.links {
    margin-bottom: 25px;
    background: #fff;
    padding: 15px;
    border-radius: 3px;
}

.links ul {
    display: flex;
    justify-content: center;
}

.links ul li {
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    cursor: pointer;
}

.links ul li:hover, .links ul li.active {
    color: #4abd3e;
}

.view_main {
    background: white;
    border-radius: 3px;
    padding: 60px;
}

.list-view .view_item {
    background: #fff;
    border: 1px solid black;
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.list-view .view_item:last-child {
    margin-bottom: 0;
}

.list-view .view_item .vi_left {
    margin-right: 25px;
}

.view_item .title {
    font-weight: 600;
}

.view_item .content {
    margin: 5px 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 200;
}

.view_item .btn {
    width: 125px;
    background: #4abd3e;
    padding: 8px 5px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.view_item .btn:hover {
    background: #3bd62b;
}