body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif
}

p2{
    padding-bottom: 20px;
}

/* IMMAGES */

/* Logo image size */

.logo img {
    width: 200px;
}

.homepic img {
    width: 600px;
}



.aboutpic img {
    padding-right: 80px;
    padding-top: 100px;
    width: 700px;
}



/* Map used on contact us page */

.map img {
    width: 600px;
    padding-top: 100px;
    padding-left: 100px;
}

.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif
}
.my-container{
    padding-top: 8px;
    padding-bottom: 8px;
}

.fa-anchor, .fa-coffee {
    font-size: 200px
}